@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html, body, #root {
  width: 100%;
  height: 100%;
}



/* @media (min-width: 1920px) {
  #root {
    width: 80%;
  }
}

@media (min-width: 1745px) {
  #root {
    width: 85%;
  }
}

@media (min-width: 1536px) {
  #root {
    width: 90%;
  }
}

@media (min-width: 1280px) {
  #root {
    width: 100%;
  }
} */

/* #root {
  background-color: #18181b;
  height: 100%;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  h-[100%]
   3xl:w-[80%]
    2.5xl:w-[85%]
     2xl:w-[90%]
      xl:w-[100%]
       m-auto
        absolute
         left-0
          right-0
           top-0
            bottom-0
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #18181b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}